body{
    background-color: grey;
    margin: 0;
}
p{
    font-family: Impact, fantasy ;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
h1{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
    font-size: 3cm;

}
h2{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
}
 .topnav {
    overflow: hidden;
    background-color: grey;
    border-end-start-radius: 10px;
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Impact, fantasy;
  }
  
  .topnav a:hover {
    background-color:aqua;
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: aqua;
    color: white;
  }

