body{
    background-color: grey;
    margin: 0;
}
p{ 
    font-family: Impact, fantasy ;
    color: rgb(255, 255, 255);
    text-align: center;    
}
h1{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
    font-size: 3cm;

}
h2{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
}
 .topnav {
    overflow: hidden;
    background-color: rgb(14, 23, 52);
   }
  
  .topnav a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 60px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 800;
  }
  
  .topnav a:hover {
    
    color: rgb(255, 255, 255);
    border-top: 100px;
  }
  
  .topnav a.active {
   
  }



 