body{
    background-color: black;
}
p{
    font-family: Impact, fantasy ;
    color: aqua;
    
}
h1{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
    font-size: 3cm;

}
h2{
    color:aqua;
    font-family: Impact, fantasy ;
    text-align: center;
}